.main-content {
    background-color: transparent;
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 700px;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
        max-width: 900px;
        font-size: clamp(2rem, 3vw, 4rem);
        text-align: center;
    }

    button {
        margin-top: 20px;
    }   
}

