
.item__collection {
    display: flex;
    max-width: 1176px;
    flex-wrap: wrap;
    

}

.item__cardMark {
    filter: grayscale(100%);
}

.item__card {
    height: 360px;
    width: 254px;
    margin: 20px;
    padding: 9px;
    border-radius: 9px;
    border: 1px $gray solid;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 200ms ease-in-out;

    -webkit-box-shadow: -5px 5px 31px -10px rgba(0,0,0,0.63); 
    box-shadow: -5px 5px 31px -10px rgba(0,0,0,0.63);
    .item__body {
        height: 100%;
        display: flex;
        flex-direction: column;
        font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        color: $black;
        .item__name{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 4px;
        }

        span {
            padding-right: 10px;
            font-size: 20px;
            color: $green;
        }

        p {
            padding-top: 7px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 0px;
        }
        
        img {
            height: 140px;
            align-self: center;
            object-fit: contain;
        }
    }

    &:hover{
        transform: scale(1.01);
    }
}

.item__actions {
    display: flex;
    flex-direction: row-reverse;
}

.item__addItemModals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 24;
    padding: 1rem;
}

.image-filter {
    filter: opacity(0.3);
}

@media only screen and (max-width: 768px) {
    .item__addItemModals {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        background-color: white;
        border-radius: 15px;
        box-shadow: 24;
        padding: 1rem;
    }

    .item__collection {
        justify-content: center;
    }
}