.profile__container {
    width: 100%;
    height: 100%;

    // position: fixed;
}

.profile__panel {
    margin: 50px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd4;
    border-radius: 20px;
}