.profile__container {
    width: 100%;
    height: 100%;

    // position: fixed;
}

.profile__panel {
    margin: 50px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd4;
    border-radius: 20px;
}

.profile__header {
    width: 100%;
    background-color: #0000003d;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .profile__imgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 50%;
            height: 200px;
            width: 200px;
            align-self: center;
            object-fit: contain;
            -webkit-box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.26);
            -moz-box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.26);
            box-shadow: 0px 9px 30px 2px rgba(0,0,0,0.26);
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
        }

        span {
            font-size: 22px;
            font-weight: bold;
            color: #333;
        }
    }
    .profile__headerControls {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 15px;
        align-items: baseline;
    }
}