@import './colors.scss';
@import 'components/layout/NavBar.scss';
@import 'components/layout/Background.scss';
@import 'components/layout/Homepage.scss';
@import 'components/layout/profile.scss';
@import 'components/layout/SpeedDial.scss';
@import 'components/layout/Items.scss';

@import 'components/chakra/modal.scss';

@import 'components/form/form.scss';



.loading__container {
    display: flex;
    width: 100%;
    justify-content: center;
}