.form__container-centered {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

    form {
        min-width: 215px;
        width: 300px;
        border-radius: 10px;
        background-color: white;
        padding: 20px;
        color: black;
    }

    border: 1px solid #3182ce;
}

.form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}